<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<properties resource="com/xqkj/dao/mapper/"></properties>-->
  	<mappers>
  		<mapper resource="com/xqkj/dao/mapper/UserDaoImpl.xml"></mapper>
		<mapper resource="com/xqkj/dao/mapper/RazorProductDaoImpl.xml"></mapper>
		<mapper resource="com/xqkj/dao/mapper/RoleDaoImpl.xml"></mapper>
		<mapper resource="com/xqkj/dao/mapper/MenuDaoImpl.xml"></mapper>
  	</mappers>
</configuration>